### What is MySQL?

MySQL is a relational database management system (RDBMS) developed by Oracle that is based on Structured Query Language (SQL).

### What is database?

A database is an organized collection of structured information or data.

### What is DBMS?

Database Management Systems (DBMS) are software systems used to store, retrieve and run queries on data.  
Examples of some Queries are:
- C: Create
- R: Read
- U: Update
- D: Delete

### Types of DBMS?

<b>Relational (SQL):</b>
- A relational database is a collection of data items with pre-defined relationships between them, stored in the form of table, rows and columns.
- List of SQL databases:
    - MySQL
    - MariaDB
    - Oracle
    - PostgreSQL
    - MSSQL
    

<br>

<b>Non-Relational (No-SQL):</b>

### What is a database table?

Database table is a collection of rows and columns that contains relational data.

### What is WHERE clause?

The WHERE clause is used to filter records.  
It is used to extract those records that fulfill a specified condition.  
Conditions that can be used in WHERE clause are:  
- equals to: =
- not equals to: !=
- greater than: >
- smaller than: <
- greater than or equals to: >=
- smaller than or equals to: <=

### Constraints in MySQL

Constraints in DBMS are the restrictions that are applied to data or operations on the data.  
This means that constraints allow only a particular kind of data to be inserted in the database or only some particular kind of operations to be performed on the data in the database.  
Constraints are used to validate the data.  
Some contraints in MySQL are:  
- NOT NULL
- UNIQUE
- DEFAULT
- CHECK
- FOREIGN KEY
- PRIMARY KEY

### Operators in MySQL

<b>AND operator:</b>  
- MySQL logical AND operator compares two expressions and returns true if both of the expressions are true.

<b>OR operator:</b>  
- MySQL logical OR operator compares two expressions and returns TRUE if either of the expressions is TRUE.

<b>NOT operator:</b>
- MySQL logical NOT operator reverses or negates the input.

<br>

<b>IN operator:</b>
- IN operator allows you to specify multiple values in a WHERE clause.
- IN operator is a shorthand for multiple OR conditions.


<br>

<b>LIKE operator:</b>  
LIKE operator is used in a WHERE clause to search for a specified pattern in a column.
- The percent sign (%) represents zero, one or multiple characters.
- The underscore sign (_) represents one, single character.  
% and _ are called wildcards.  
<img src='assets/LIKE operator table.png' width=300>

### Data Types

There are primarily 3 data types in SQL:
- String Data Types:
    - CHAR(size) : 0 to 255
    - VARCHAR(size) : 0 to 65535
    - BINARY(size)
    - VARBINARY(size)
    - TINYTEXT : 255 characters
    - TEXT(size) : 65,535 bytes
    - MEDIUMTEXT : 16,777,215 characters
    - LONGTEXT : 4,294,967,295 characters
    - TINYBLOB : 255 bytes
    - BLOB(size) : 65,535 bytes
    - MEDIUMBLOB : 16,777,215 bytes
    - LONGBLOB : 4,294,967,295 bytes
    - ENUM(val1, val2, val3, ...) : list upto 65535 values
    - SET(val1, val2, val3, ...) : list upto 64 values

<br>

- Numeric Data Type:
    - BIT(size) : 1 to 64
    - TINYINT(size) : -128 to 127
    - INT(size) : -2147483648 to 2147483647
    - INTEGER(size)
    - SMALLINT(size) : -32768 to 32767
    - MEDIUMINT(size) : -8388608 to 8388607
    - BIGINT(size) : -9223342036854775808 to 9223342036854775807
    - BOOL
    - BOOLEAN: 0/1
    - FLOAT(p)
    - DOUBLE(size, d) : 255.568
    - DECIMAL(size, d): size=60, d=30
    - DEC(size, d)
    
<br>

- Date & Time Data Type:
    - DATE : '1000-01-01' to '9999-12-31'
    - DATETIME(fsp) : YYYY-MM-DD hh:mm:ss
    - TIMESTAMP(fsp)
    - TIME(fsp) : hh:mm:ss
    - YEAR : YYYY

### Code and Syntax:

<b>INITIALIZE DATABASE & TABLE:</b>

<i>Create a new database</i>  
CREATE DATABASE db_name;

<i>Select a database:</i>  
USE db_name;

<i>Create a new table inside the selected database:</i>  
CREATE TABLE table_name(  
    column1 datatype,   
    column2 datatype,  
    column3 datatype,  
    ...  
);

<br>

<b>INSERT QUERY:</b>  

<i>Insert single row into the table:</i>  
INSERT INTO table_name   
(col1, col2, col3, ...)  
VALUES   
(val1, val2, val3, ...);

<i>Insert multiple rows into the table:</i>  
INSERT INTO table_name  
(col1, col2, col3, ...)  
VALUES  
(val1, val2, val3, ...),  
(val1, val2, val3, ...),  
(val1, val2, val3, ...);  

<i>Insert rows without mentioning the column names:</i> (NOTE: the values must correspond to columns)  
INSERT INTO table_name VALUES    
(val1, val2, val3, ...),  
(val1, val2, val3, ...),  
(val1, val2, val3, ...);  


<br>

<b>SELECT QUERY:</b>  

<i>Select some columns:</i>  
SELECT col1, col2, col3, ...  
FROM table_name;  

<i>Select column name and display them with an alias:</i>  
SELECT col1, col2 AS "alias_name", col3, ...  
FROM table_name;  

<i>Select all columns:</i>  
SELECT * FROM table_name;

<i>Select columns using WHERE clause:</i>  
SELECT col1, col2, ...  
FROM table_name  
WHERE condition;


<br>


<b>OPERATORS:</b>  

<i>AND, OR & NOT operators:</i>  
SELECT * FROM table_name  
WHERE condn1 AND (condn2 OR NOT condn3);  

<i>IN operator:</i>  
SELECT * FROM table_name  
WHERE col_name IN  
(val1, val2, val3...);

<i>LIKE operator:</i>  
SELECT * FROM table_name  
WHERE col_name LIKE 'x%';